<div class="container mt-4">
    <div class="row">
        <h3>
            <!-- Uso de interpolacion desde el backend -->
            La suma de 15 + 10 = {{  getSuma(15,10)  }}
        </h3>
        <br>
        <!-- Properti Binding 'interpolacion' su uso es para los atributos  [atributo] = "variable del backend" -->
        <input type="text" class="form-control" [placeholder]="textoPlaceholder" [disabled] = "deshabilitado">
        <br>
        <img [src]="imgLink" alt="img" width="400px">
    </div>
</div>